@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 240, 232, 0.79);
    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.sidebar ul li:hover a{
    padding-left: 50px;
    background: #063146;
}

.sidebar li.active {
  padding-left: 10px;
  background: #052a3c;
}


.header {
  position: fixed;
  background-color: #031a25;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  padding: 18px;
  width: 100%;
  margin-left: 250px;
  font-size: 2rem;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header a{
  color: inherit;
  text-decoration: none;

}

/* ############################### Home Page ####################### */

.machine-container{
  display: grid;
  position: flex;
  padding-left: 270px;
  padding-top: 90px;
  padding-right: 10px;
  top: 73px;
  gap: 30px;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
}

/* .machine-btn{
  font-size: 1.25rem;
  color: #fff;
} */

.machine-box{
  background-color: #417186;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  box-sizing: border-box;
  color: #fff;
}

.machine-box:hover{
  background-color: #063146;
  box-shadow: 0px 1px 10px #063146;
}


.machine-box-header{
  padding: 10px 5px;
  font-size: 1.25rem;
  text-shadow: 2px 2px 4px #063146;
  text-align: center;
  /* background-color: #031a25; */
  
}

/* ----------------------machine icon------------------------ */

.machine-box:hover .back-img{
  opacity: 0.9;
}
.machine-box:hover .front-img{
  opacity: 0;
}

.machine-icon{
  /* background-color: #031a25; */
  /* width: 50px; */
  height: 70%;
  /* position: absolute; */
  /* background-color: antiquewhite; */
}

.machine-icon img{
  /* opacity: 0.5; */
  border-radius: 35%;
  /* height: 50px; */
  /* border-radius: 10px; */
  /* height: 50px; */
  /* box-shadow: 0px 1px 10px #063146; */
  /* background-color: white; */
  /* width: 100%; */
  /* height: 100%; */
  width: 30px;
  height: 30px;
  /* filter: grayscale(100%); */
  /* filter: drop-shadow(1px 2px 2px #063146); */
  
  
}

.machine-icon div{
  /* background-color: #031a25; */
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-top: 50px;
}

.back-img{
  height: 48px;
  /* height: 40px; */
}

.back-img{
  position: absolute;

  opacity: 0;
}

.front-img{
  opacity: 0.6;
}


/* --------------------------------------------------------- */



/* ----------------------------new machine box--------------------- */
.machine-add-box{
  background-color: #97b1bd;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  box-sizing: border-box;
  color: #fff;
}

.machine-add-box:hover{
  box-shadow: 0px 0px 6px #063146;
}

.machine-add-box:hover .machine-plus-icon{
  opacity: 0.5;
}

.machine-plus-icon{
  width: 100px;
  height: 100px;
  opacity: 0.2;
  transition: all 0.7s ease;
}

.machine-add-box div{
  /* padding-left: 10px; */
  /* background-color: #063146; */
  text-align: center;
  padding-top: 25px;
}

/* --------------------------------------------------------- */




/* ############################### Machine Page ####################### */

.machine-data-container{
  display: grid;
  position: flex;
  padding-left: 270px;
  padding-top: 90px;
  padding-right: 10px;
  padding-bottom: 20px;
  top: 73px;
  gap: 3%;
  grid-template-columns: 1fr;
}

.machine-data-table {
  padding: 15px;
  width: 100%;
  height: 100%;
  align-items: center;
  border: none;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
}

.machine-data-table td {
  width:auto;
  height: 25%;
  text-align: center;
  /* background-color: #031a25; */
}

.machine-data-page-table td {
  padding: 0.5%;
  padding-left: 0;
  padding-right: 0;
}


/* ----------------machine box 1----------------- */
.machine-databox1{
  background-color: #417186;
  width: 97%;
  min-width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  align-items: center;
  color: #fff;
}

.machine-box1-numbers{
  background-color: #28617a;
  border-radius: 10px;
  text-align: center;
  width: auto;
  min-width: 50px;
  padding: 10px 5px;
  font-weight: normal;
  font-size: 1.2rem;
}

.machine-box1-date{
  background-color: #28617a;
  border-radius: 10px;
  text-align: center;
  width: auto;
  min-width: 80px;
  padding: 10px 5px;
  font-weight: normal;
  font-size: 1.2rem;
}

.label-text {
  width: auto;
  min-width: 120px;
}


.machine-databox1 ul {
  padding-top: 10px;
}

/* --------------------------------------- */




/* ----------------machine box 2----------------- */

/* same as machine-databox1 */
.machine-databox2{
  background-color: #417186;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
}

/* --------------------------------------- */




/* ----------------machine box 3----------------- */
.machine-databox3{
  /* background-color: #adbfc7d5; */
  background-color: #417186;
  width: 98.7%;
  height: 250px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  font-weight: bold;
  color: #fff;
}

/* same as mold header */
.machine-databox3-header{
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #063146;
}

.machine-box3-icon{
  width: 25px;
  height: 25px;
  filter: drop-shadow(1px 2px 2px #063146);
}
/* --------------------------------------- */


/* ----------------machine box 4----------------- */
.machine-box4{
  /* background-color: #adbfc7d5; */
  background-color: #417186;
  width: 98.7%;
  height: 250px;
  border-radius: 10px;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  color: #fff;
}

.machine-databox4{
  background-color: #28617a;
  border-radius: 10px;
  text-align: left;
  width: 300px;
  padding: 10px 5px;
  font-weight: normal;
  font-size: 1.2rem;
}

/* --------------------------------------- */











/* ####################### Mold Page #############################*/

.mold-container{
  display: grid;
  position: flex;
  padding-left: 270px;
  padding-top: 100px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}

/* .mold-btn{
  font-size: 5.25rem;
  color: #fff;

} */

.mold-box{
  background-color: #417186;
  width: 97%;
  height: 250px;
  border-radius: 10px;
  text-align: left;
  transition: .4s;
  box-shadow: 0px 0px 4px #063146;
  align-items: center;
  color: #fff;
}


/* .mold-box:hover{
  width: 650px;
  height: 380px;
  box-shadow: 0px 1px 10px #063146;
} */

.mold-box-header{
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #063146;
}

.mold-box-icon{
  filter: drop-shadow(1px 3px 2px #063146);
}


.mold-data-table {
  padding-left: 15px;
  width: 100%;
  align-items: center;
  border: none;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  /* text-shadow: #031a25; */
  
}

.mold-data-table td {
  width: auto;
  height: 75px;
  text-align: right;
}

.mold-box-data{
  padding: 10px 5px;
  background-color: #28617a;
  border-radius: 10px;
  text-align: center;
  width: auto;
  min-width: 100px;
  margin: 5px;
  font-weight: normal;
  font-size: 1.2rem;
}

.mold-box-numbers{
  padding: 10px 5px;
  background-color: #28617a;
  border-radius: 10px;
  text-align: center;
  width: auto;
  min-width: 100px;
  margin: 5px;
  font-weight: normal;
  font-size: 1.2rem;
}


/* ----------------------scroll styles-------------------------- */

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #031a25;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#052839, #0b557a);
  border-radius: 25px;
}
/* ------------------------------------------------------------ */




/* ----------------------------login------------------------------ */
.login-container{
  position: fixed;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  top: 200px;
  left: 500px;
  outline: 2px;
  width: 300px;
  height: 300px;
  font-size: 20px;
  box-sizing: content-box;
  background-color: white;
  border-radius: 25px;
}

.login-header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 10px;
  position: fixed;
  background-color: #031a25;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  padding: 18px;
  width: 100%;
  font-size: 2rem;
}

.input{
  box-sizing: border-box;
  outline: none;
  border:solid 2px;
  border-radius: 4px;
  color: #031a25;
  width:100%;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submitButton{
  padding-top: 16px;
}

.btn{
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-top: 20px;
  border-radius: 4px;
}

.btn:hover{
  background-color: #afafaf;
}

/* ------------------------------------------------------------------- */



/* ----------------------------chart--------------------------- */
.Chart li {
  list-style-type: none;
}

.Chart ul {
  padding: 0;
  width: 100%;
}

.ChartLegend {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 0.5em;
}
